body{
	margin : 0;
	
	font-family: 'Montserrat', sans-serif;
}
p, blockquote
{
	font-size: 0.9em;
	line-height: 1.6em;
}
h1
{
	font-size: 1.2em;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;	
}
.container
{
	text-align: center;
	padding: .8em , 1.2em;
}

.logo
{
	width: 120px;
	height: 120px;
}
.menu
{
	width: 60px;
	height: 60px;
	margin-top: 45%;
}
.exit
{
	width: 30;
	height: 30;
}
header
{
	display: flex;
	justify-content: space-between; 
} 
.hide-mobile
{
	display: none;
}

.scene
{
	width: 50%;
	margin: 4em 2em 1em 0;
	left: 40px;
	
	
}
h1, .subhead
{
    position: relative;
    z-index: 2;

}
.red-container
{
	width: 100%;
    background : #FF0000;
	margin-top: 10%;
	padding: 7em 0 7em;
	border-top-left-radius: 40px;
	transform: skewY(-2deg);
	
}
/*.blog
{
	float: left;
	margin-left: 8%;
	width: 8.5%;
	height: 8.5%;
}
.travel
{
	float: right;
	margin-right: 10%;
	width: 8%;
	height: 8%;
}*/
.red-container:before
{
	content: "";
	width: 40px;
	height: 40px;
	background-color: #FF0000;
	position: absolute;
	right: 0;
	top: -39px;
	z-index: -2;

}
.red-container:after
{
	content: "";
	width: 80px;
	height: 80px;
	background-color: white;
	position: absolute;
	right: 0;
	top: -80px;
	border-radius: 50%;
	z-index: -1;
	 
}
.red-container ul
{
	transform: skewY(2deg);
}
.red-container ul li
{
	margin-bottom: 3em;
}
.red-container ul li p
{
	padding: 0 .5em;
	color: #FFFF00;
}

.red-container img
{
	/*width: 14%;*/
	float: left;
	margin-left: 8%;
	width: 16%;
	height: 8.5%;
    
}
.red-container ul li:nth-child(2) img
{
	/*width: 12%;*/
	float: right;
	margin-right: 10%;
	width: 14%;
	height: 8%;

}
.grey-container
{
	background: #f6f6f6;
	padding: 4em 0 4em;
	margin-top: -3%;
	
}
.
.grey-container ul li:first-child
{
    margin-bottom: 2em;
}
.icon1
{
	border-radius: 50%;
	height: 7.5%;
	width: 8%;
	
}
.icon2
{
	
	border-radius: 50%;
	height: 9%;
	width: 8%;
	
}
.white-container 
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 5%;
}

.footer-container
{
	width: 100%;
	padding: 4em 0;
	border-top-right-radius: 40px;
    transform: skewY(2deg);
    
}
.footer-container .container
{
	transform: skewY(-2deg);
}


.footer-container .container a p
{
	color: black;
}
.footer-container .container a
{
	text-decoration: none;
	color: black;
}
ul.footer-links
{
	margin: 0 auto;
}	
ul.footer-links li
{
	display: inline-block;
}
ul.footer-links li a
{
	font-size: 0.8em;
}
nav ul
{
	position: fixed;
	width: 40%;
	top: 0;
	right: 0;
	text-align: left;
	background: rgb(42, 49, 53);
	height: 100%;
	z-index: 7;
	padding-top: 3em;

}
nav ul li a
{
	color: white;
	text-decoration: none;
	padding: 1em 2em;
	display: block;
	width: 100%;
	background: rgb(51, 60, 66);
}
nav ul li a:hover
{
	background: rgb(88, 103, 110);
	color: black;
}
exit-btn
{
	margin-bottom: 1em;
	margin-top: -1.3em;
	text-align: right;
	padding: 0 1.4em;
}
exit-btn
{
	width: 15px;
	cursor: pointer;
}

/*@media only screen and (min-width: 650px)
{
	.scene
	{
		width: 75%;
	}
	h1
	{
		font-size: 2.5em;
		margin: 0;
	}
	
	.red-container img 
	{
		width: 25%;
		height: 9%;
	}
	.red-container ul li:nth-child(2) img
    {
	
	    float: right;
	    margin-right: 10%;
	    width: 20%;
	    height: 11%;
	}
	.red-container ul li p 
	{
		padding: 0.8em;
	}
	
}
*/